Source: ros-kinetic-velodyne-description
Section: misc
Priority: extra
Maintainer: Kevin Hallenbeck <khallenbeck@dataspeedinc.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/velodyne_description
Standards-Version: 3.9.2

Package: ros-kinetic-velodyne-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-urdf, ros-kinetic-xacro
Description: URDF and meshes describing Velodyne laser scanners.
