Source: ros-galactic-velodyne-simulator
Section: misc
Priority: optional
Maintainer: Kevin Hallenbeck <khallenbeck@dataspeedinc.com>
Build-Depends: debhelper (>= 9.0.0), ros-galactic-ament-cmake, ros-galactic-ros-workspace
Homepage: http://wiki.ros.org/velodyne_simulator
Standards-Version: 3.9.2

Package: ros-galactic-velodyne-simulator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-galactic-velodyne-description, ros-galactic-velodyne-gazebo-plugins, ros-galactic-ros-workspace
Description: Metapackage allowing easy installation of Velodyne simulation components.
